<ul id="lists">
	<% sort_lists_by_completed(@lists).each do |index, list| %>
		<li class=<%= all_completed?(list) %>>
			<a href="/lists/<%= index %>">
				<h2><%= list[:name] %></h2> 
				<p><%= get_number_of_todos_completed(list[:todos]) %>/<%= list[:todos].size %></p>
			</a>
		</li>
	<% end %>
</ul>

<% content_for :header_links do %>
	<a class="add" href="/lists/new">New List</a>
<% end %>